---
name: Lint & Test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

jobs:
  golangci:
    name: Go Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - run: git fetch --force --tags
    - name: Setup Go
      uses: actions/setup-go@v6
      id: go-setup
      with:
        go-version: 'stable'
    - uses: goreleaser/goreleaser-action@v6
      env:
        GOVERSION: ${{ steps.go-setup.outputs.go-version }}
      with:
        distribution: goreleaser
        version: latest
        args: check
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        args: --config=.golangci.yml
        version: latest

  test:
    name: Go Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'
        check-latest: true
    - name: Test
      run: go test -v -race ./...
  
  trivy-vuln-scan:
    name: Trivy Scan Filesystem Vulnerabilities
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v6
    - uses: webiny/action-conventional-commits@v1.3.1
    - name: Trivy Security Scan
      uses: aquasecurity/trivy-action@0.34.1
      with:
        scan-type: 'fs'
        scan-ref: '.'
        hide-progress: false
        format: 'table'
        exit-code: '1'
        severity: 'MEDIUM,HIGH,CRITICAL'
        scanners: vuln,secret,license
