---
name: Release Please
'on':
  push:
    branches:
    - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  release-please:
    environment: release-please
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
    - id: release
      uses: googleapis/release-please-action@v4
      with:
        release-type: simple
        token: ${{ secrets.RELEASE_TOKEN }}
