---
name: Validate Binaries
on:
  push:
    branches: [ "main" ]

permissions:
    contents: write

jobs:
  go-build:
    name: Go Build & Scan
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v6
      id: go-setup
      with:
        go-version: 'stable'
        check-latest: true
        cache-dependency-path: '**/go.sum'
    - name: Check out code
      uses: actions/checkout@v6
    - name: Restore Goreleaser Binaries from cache
      id: goreleaser-cache
      uses: actions/cache/restore@v5.0.0
      with:
        path: dist/
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
    - uses: taiki-e/install-action@just
    - name: Build Binary
      run: just build
    # https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph
    - name: Run Trivy SBOM mode and submit results to Dependency Graph
      uses: aquasecurity/trivy-action@0.33.1
      with:
        scan-type: 'rootfs'
        scan-ref: '.'
        hide-progress: true
        format: 'github'
        output: 'dependency-results.sbom.json'
        exit-code: '1'
        severity: 'CRITICAL,HIGH'
        scanners: vuln,secret
        github-pat: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/upload-artifact@v6
      with:
        name: trivy-sbom-${{ github.sha }}
        path: dependency-results.sbom.json
        if-no-files-found: error
        retention-days: 90
    - name: Cache binaries
      uses: actions/cache/save@v5.0.0
      if: always()
      with:
        path: dist/
        key: ${{ steps.goreleaser-cache.outputs.cache-primary-key }}
